<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- primary true says use this bean -->
	<bean name="address1" class="com.kunal.Autowire.xml.Address"
		primary="true">
		<property name="city" value="pune" />
		<property name="state" value="Mahaeashtra" />
	</bean>

	<bean name="address" class="com.kunal.Autowire.xml.Address">
		<property name="city" value="Bikaner" />
		<property name="state" value="Rajasthan" />
	</bean>

	<!-- Byname <bean name="st" class="com.kunal.Autowire.xml.Student" autowire="byName"> -->
	<!-- </bean> -->

	<!-- Bytype <bean name="st" class="com.kunal.Autowire.xml.Student" autowire="byType"> -->
	<!-- </bean> -->

	<bean name="st" class="com.kunal.Autowire.xml.Student"
		autowire="constructor"></bean>
</beans>